<form *ngIf="!user" #form="ngForm" (ngSubmit)="goNext()">
  <label for="username">Sterowanie: wasd i myszka, jak bedzie dzialac. Podaj nazwe uzyt.:</label>
  <input id="username" name="username" [(ngModel)]="username" required />
  <button [disabled]="!username" type="submit">Dalej</button>
</form>
<div *ngIf="user">
    <div class="ramka"></div>
    <div
    class="dotp"
    [style.left.px]="px"
    [style.top.px]="py"
    [style.background-color]="color">
    >{{user}}(ty)
    </div>
    <div *ngFor="let item of users"
    class="doto"
    [style.left.px]="item.px"
    [style.top.px]="item.py"
    [style.background-color]="item.color">
    >{{ item.owner }} 
    </div>
</div>