.dotp, .doto {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left:50%;
  top:50%;
}

.block{
  position: absolute;
  width: 10px;
  height: 10px;
  left:50%;
  top:50%
}

.ramka {
  position: absolute;
  top: 5;
  left: 5;
  width: 1005px;
  height: 505px;
  border: 5px solid black;
  box-sizing: border-box;
    }